pytorch==0.4.0
torchvision
cython
matplotlib
numpy
scipy
# opencv
pyyaml
packaging
pycocotools
tensorboardx
h5py
opencv-python

random
requests
tqdm
streamlit
pillow # for PIL

datasets
transformers 
sentence_transformers

# conda create -p env_nlp python==3.9 -y
